<table class='table table-condensed table-striped table-hover'>
    <thead>
        <th>Bin Name</th>
        <th>Bin Location</th>
        <th>Bin Level</th>
        <th>Last Timestamp</th>
    </thead>
    <tbody>
        <% for (var i in binData) { %>
          <tr class="clickableRow" data-url="/bin/<%= binData[i].id %>">
            <td><%= binData[i].name %></td>
            <td><%= binData[i].location %></td>
            <td><%= binData[i].level %></td>
            <td><%= binData[i].recent %></td>
        <% } %>
    </tbody>
</table>