<div class='col-lg-3 col-md-4 col-xs-6'>
    <div class='panel panel-default'>
        <div class="widget large-height" visualization=<%= widget.visualization %> data-filter="<%= widget.data_filter %>" data-id="<%= widget.id %>" data-type="<%= widget.data_type %>" data-options="<%= widget.options %>">
            <div class="knob-help">
                <i class="fa fa-question-circle"></i>
            </div>
            <div id="knob-title" class="row">
                <%= widget.display_name %>
            </div>
            <div class="row subtitle">
                <% if (widget.display_name_2 !== null) { %>
                    <%= widget.display_name_2 %> &#183; 
                <% } %>
                <span id="knob-timestamp">Connecting to server...</span>
            </div>
            <div id="knob-content-<%= widget.id %>" class="content">
                <img id="loader-<%= widget.id %>" style="position: relative; top: calc(50% - 32px + 15px);" src="/images/loading.gif">
                <div class="knob-header row">
                    <div class="knob-temperature collapse"></div>
                </div>
                <div class="row">
                    <div class="knob-graph" id="knob-graph-<%= widget.id %>"></div>
                    <div class="knob-alarm br-lightred collapse"></div>
                </div>
                <div class="row">
                    <div class="knob-line-graph" id="knob-line-graph-<%= widget.id %>">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>