<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%- title %></title>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-precomposed.png">
    <% if (typeof(stylesheets) !== 'undefined') { %>
        <%- stylesheets %>
    <% } %>
    <% if (typeof(dashboard_widgets) !== 'undefined') {
        for (var i in dashboard_widgets) {
          var widget = dashboard_widgets[i]; %>
          <link rel="stylesheet" type="text/css" href="/widget_assets/styles/<%= widget.widget.css_filename %>" />
    <%  } 
    }%>
    <% if (typeof(dashboard_widgets) !== 'undefined') {
        for (var i in dashboard_widgets) {
          var widget = dashboard_widgets[i]; %>
          <script type="text/javascript" src="/widget_assets/js/<%= widget.widget.js_filename %>"></script>
    <%  } 
    }%>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/colours.css" />
    <link rel="stylesheet" type="text/css" href="/styles/overrides.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <% if (typeof(load_dashboard_js) !== "undefined" && load_dashboard_js) { %>
        <%- include dashboard/js/dashboard_js.ejs %>
    <% } %>
    <% if (typeof (header_javascript) !== "undefined") { %>
        <%- header_javascript %>
    <% } %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" <%= (typeof(is_parent) !== "undefined") && is_parent ? 'href=/dashboards' : 'href=/dashboard/' + dashboard_id %>>
            <%= organization_name %>
        </a>
        
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li <%= (typeof(page_category) !== "undefined" && page_category === "dashboard") ? 'class=active' : '' %>>
                <a <%= (typeof(dashboard_id) !== "undefined") ? 'href=/dashboard/' + dashboard_id : 'href=/dashboards' %>>Dashboard</a>
            </li>
            <li <%= (typeof(page_category) !== "undefined" && page_category === "reports") ? 'class=active' : '' %>>
                <a <%= (typeof(dashboard_id) !== "undefined") ? 'href=/report/handheld' : 'href=javascript:;' %>>Reports</a>
            </li>
            <li <%= (typeof(page_category) !== "undefined" && page_category === "analytics") ? 'class=active' : '' %>>
                <a <%= (typeof(dashboard_id) !== "undefined") ? 'href=/analytics' : 'href=javascript:;' %>>Analytics</a>
            <li <%= (typeof(page_category) !== "undefined" && page_category === "notifications") ? 'class=active' : '' %>>
                <a <%= (typeof(dashboard_id) !== "undefined") ? 'href=/notifications' : 'href=javascript:;' %>>Notifications<span class="badge ml-5">0</span></a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown <%= (typeof(page_category) !== "undefined" && page_category === "messages") ? 'active' : '' %>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= full_name %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li <%= (typeof(page_category) !== "undefined" && page_category === "settings") ? 'class=active' : '' %>><a href="#">Account Settings</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Admin</li>
                    <li><a href="#">Admin Options</a></li>
                    <li class="divider"></li>
                    <li><a href="/user/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
        
    </div><!-- /.nav-collapse -->
</div>

<div class="content">
    <%- body %>
</div>
<% if (typeof(body_javascript) !== "undefined") { %>
    <%- body_javascript %>
<% } %>
</body>
</html>
