<div class='col-lg-6 col-md-8 col-xs-12'>
    <div class='panel panel-default'>
        <a href="/silo/<%= silo.id %>">
            <div class="widget small-height">
                <div class="widget-title" class="row">
                    <%= silo.name %>
                </div>
                <div class="content">
                    <div class="row">Silo Capacity: <%= silo.capacity %></div>
                    <div class="row">Silo Level: <%= silo.capcity %></div>
                    <div class="row">Silo Product: <%= silo.product.name %></div>
                </div>
            </div>
        </a>
    </div>
</div>