<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%- title %></title>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-precomposed.png">
    <% if (typeof(stylesheets) !== 'undefined') { %>
        <%- stylesheets %>
    <% } %>
    <% if (typeof(dashboard_widgets) !== 'undefined') {
        for (var i in dashboard_widgets) {
          var widget = dashboard_widgets[i]; %>
          <link rel="stylesheet" type="text/css" href="/widget_assets/styles/<%= widget.css_filename %>" />
    <%  } 
    }%>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/colours.css" />
    <link rel="stylesheet" type="text/css" href="/styles/overrides.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <% if (typeof(load_dashboard_js) !== "undefined" && load_dashboard_js) { %>
        <%- include dashboard/js/dashboard_js.ejs %>
    <% } %>
    <% if (typeof (header_javascript) !== "undefined") { %>
        <%- header_javascript %>
    <% } %>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <%= organization_name %>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li <%= (typeof(page_category) !== "undefined" && page_category === "dashboard") ? 'class=active' : '' %>>
                    <a href="/">Dashboard</a>
                </li>
                <li <%= (typeof(page_category) !== "undefined" && page_category === "reports") ? 'class=active' : '' %>>
                    <a href="/report">Reports</a>
                </li>
                <li <%= (typeof(page_category) !== "undefined" && page_category === "analytics") ? 'class=active' : '' %>>
                    <a href="#">Analytics</a>
                </li>
                <li <%= (typeof(page_category) !== "undefined" && page_category === "messages") ? 'class=active' : '' %>>
                    <a href="#">Messages</a>
                </li>
                <li <%= (typeof(page_category) !== "undefined" && page_category === "settings") ? 'class=active' : '' %>>
                    <a href="#">Account Settings</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= full_name %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Account Settings</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Admin</li>
                        <li><a href="#">Admin Options</a></li>
                        <li class="divider"></li>
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div>
</div>

<div class="content">
    <%- body %>
</div>
<% if (typeof(body_javascript) !== "undefined") { %>
    <%- body_javascript %>
<% } %>
<% if (typeof(load_dashboard_js) !== "undefined" && load_dashboard_js) { %>
    <script type="text/javascript">
        var reconnects = {};
        var widgetManager = new WidgetManager();
        var socketMultiplexer = new SocketMultiplexer("<%= host %>", "<%= port %>");

        var connect = function() {
            return new SockJS('http://<%= host %>:<%= port %>/socket/');
        }

        function connectWidget(selector) {
            var id = $(selector).attr("data-id");
            var filter = $(selector).attr("data-filter");
            var type = $(selector).attr("data-type");

            var objToSend = {
                id: id,
                filter: filter,
                type: type
            }
            var socket = socketMultiplexer.newConnection(objToSend);

            var currentWidget = $(selector);

            var options = {};
            if (currentWidget.attr("data-options")) {
                //console.log(currentWidget.attr("data-options"));
                options = JSON.parse(currentWidget.attr("data-options"));
            }

            if ($(selector).attr('visualization') in window) {
                var widget = new window[$(selector).attr('visualization')]($(selector), options);
                socket.onopen = widget.onOpen;
                socket.onmessage = widget.onMessage;
                socket.onclose = widget.onClose;

                widgetManager.registerWidget(widget);
            }
            else {
                console.warn("Widget JS not found: " + $(selector).attr('visualization'));
            }
        }

        $(document).ready(function() {
            var widgets = $('.widget');

            widgets.each(function() {
                connectWidget(this);
            });

        });
    </script>
<% } %>
</body>
</html>
